*
!.gitignore
!workspace.yaml
!env.example.yaml
!README.md

!home/
!home/.bashrc

!services/
!services/database/
!services/database/**

!services/storage/
!services/storage/**

!services/proxy/
!services/proxy/**

!templates/
!templates/fpm-8.1/
!templates/fpm-8.1/**

!scripts/
!scripts/**
